@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');
body{
    font-family: Montserrat,sans-serif;
}





/* ####################### NAVBAR STYLING  ############################################################################# */
.my_nav{
    background-color: white;
    box-shadow: 0 3px 12px -1px rgba(255, 182, 182, 0.2);
}
.my_nav a{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-grey);
}
.my_nav a:hover {
    color: var(--primary);
}
.my_nav a:focus {
    color: var(--primary);
}
.logo{
    width: 150px;
}
.btn_resume {
    border: 1.5px solid var(--primary);
    padding: 7px;
    background: none;
    color: var(--primary);
    outline: none;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.8s;
    font-size: 1rem;
}
.btn_resume:hover{
    color: var(--primary);
    background-color: var(--primary-20);
}





/* #########################  HERO SECTION  ###################################################################################### */

.hero_container .row{
    height: 88vh;
}
.hero_left h1{
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    opacity: 0.87;
}
.hero_right img{
    width: 400px;
}
.typewrite{
    color:rgb(190, 0, 0); text-decoration: none;
}
.type_div h2{
    font-weight: 2.4rem;
    font-weight: bold;
    opacity: 0.87;
}
.nowrap_text{
    white-space: nowrap;

}
.hero_p{
    /* font-size: 1.6rem; */
    color: var(--dark-grey);
    font-size: x-large;
    line-height: 1.5;
    margin-top: 2rem;
    font-weight: 500;
}
@media screen and (max-width: 767px) {
    .hero_left h1{
        font-size: 2.8rem;
        margin-top: 4rem;
    }
    .type_div h2{
        font-weight: 1.8rem;
    }
    .hero_p{
        font-size: 1.4rem;
        line-height: 1.4;
        
    }
  }